---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$mono-font-family: 'PT Mono', monospace;
$serif-font-family: 'PT Serif', serif;
$sans-font-family: 'PT Sans', sans-serif;
$base-font-family: $serif-font-family;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$gray-color:       #828282;
$gray-color-light: lighten($gray-color, 40%);
$gray-color-dark:  darken($gray-color, 25%);

$orange-color:       #F08C0F;
$orange-color-light: lighten($orange-color, 40%);
$orange-color-dark:  darken($orange-color, 25%);

$green-color:       #8CF00F;
$green-color-light: lighten($green-color, 40%);
$green-color-dark:  darken($green-color, 25%);

$blue-color:       #0F8CF0;
$blue-color-light: lighten($blue-color, 40%);
$blue-color-dark:  darken($blue-color, 25%);

$text-color:       #111;
$background-color: #f5f5f5;

$brand-color:       $orange-color;
$brand-color-light: lighten($brand-color, 40%);
$brand-color-dark:  darken($brand-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        "custom"
;
